.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  margin: 20px auto auto auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.prev {
  left: 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: #64a9dc;
}

.text {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #fff;
  font-size: 20px;
  text-shadow: 1px 1px 1px #000;
  display: none;
}

.dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;;
}

.active, .dot:hover {
  background-color: #64a9dc;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.numbertext{
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
  font-size: 20px;
  text-shadow: 1px 1px 1px #000;
  display: none;
}

.slideshow-container_dot{
  /*text-align: center;*/
  /*margin: 10px;*/
  position: inherit;
  bottom: 30px;
}

.mySlides{
  max-height:495px;
  overflow: hidden;
}

.mySlides img {
  border-radius: 15px;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}
