body::before {
  content: '';
  font-family: 'Lato', sans-serif;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -z-index: -1;
  background: url(../img/background2.jpg) center / cover no-repeat;
  filter: blur(5px);
  transition: 0.3s;
}

body {
  color: #000;
  transition: 0.3s;
}

.container {
  text-align: center;
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}

.container_margin {
  margin: 0 40px;
  position: relative;
}

.content {
  position: relative;
  background-color: rgba(255, 255, 255, 0.37);
  border-radius: 14%;
  padding: 15px;
  margin: 250px 90px 0 90px;
  z-index: 1;
}

.content_back {
  background-color: #fff;
  width: 461px;
  height: 400px;
  opacity: 0.5;
  position: absolute;
  left: 26%;
}

.head_center {
  margin: 50px auto 0 auto;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.37);
  border-radius: 15px;
}

.head_a {
  color: #00134e;
  font-size: 40px;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
}

.head_a-button_i i {
  /*font-size: 33px;*/
  /*color: #64a9dc;*/
  color: #64a9dc00;
  margin: 0 10px 0 0;
  width: 30px;
}

.head_a-button_i:hover i {
  font-size: 33px;
  /*color: #64a9dc;*/
  color: #64a9dc;
  margin: 0 10px 0 0;

}

.head_a:hover {
  color: #64a9dc;
  /*padding: 10px;*/
  /*border-radius: 15px;*/
}

.head_p {
  margin: 16px 0 0 0;
  font-size: 30px;
  font-weight: 900;
}

.head_pa {
  position: relative;
  margin: 0;
}

.img_block {
  display: block;
  margin: 50px 0 0 0;
}

.img_left-size {
  width: 300px;
  left: 0;
  transform: rotate(-15deg);
  border: solid 1px #000;
  transition: 0.3s;
  position: absolute;
  z-index: 5;
}

.img_right-size {
  width: 300px;
  right: 0;
  transform: rotate(15deg);
  border: solid 1px #000;
  transition: 0.3s;
  position: absolute;
  z-index: 5;
}

.img_left-size:hover {
  width: 100%;
  transform: rotate(0deg);
  border: solid 1px #000;
  transition: 0.3s;
  z-index: 4;
}

.img_right-size:hover {
  width: 100%;
  transform: rotate(0deg);
  border: solid 1px #000;
  transition: 0.3s;
  z-index: 4;
}

a:hover {
  transition: 0.3s;
}

.google_maps {
  margin: 100px 0;
}

.block_share {
  color: #fff;
  font-size: 25px;
  margin: 84px 0 0 0;
}

.background_share {
  display: none;
}


/* Яндекс */
.ya-share2__container_size_m .ya-share2__icon {
  height: 50px !important;
  width: 50px !important;
  background-size: 50px 50px !important;
}

/*--------------------------*/


@media (max-width: 768px) {
  .content {
    padding: 15px;
    margin: 250px 20px 0 20px;
  }

  .head_p {
    margin: 54px 0 0 0;
    font-size: 16px;
  }

  .head_a {
    font-size: 25px;
  }

  .img_left-size {
    width: 200px;
    float: none;
    transform: rotate(-15deg);
  }

  .img_right-size {
    width: 200px;
    float: none;
    transform: rotate(15deg);
  }

  .img_block {
    display: block;
    margin: 100px 50px 0 50px;
  }
}

@media (max-width: 500px) {
  .content {
    padding: 15px;
    margin: 250px 20px 0 20px;
  }

  .head_p {
    margin: 51px 0 0 0;
    font-size: 16px;
  }

  .img_left-size {
    width: 150px;
    float: none;
    transform: rotate(-15deg);
  }

  .img_right-size {
    width: 150px;
    float: none;
    transform: rotate(15deg);
  }

  .img_block {
    display: block;
    margin: 100px 50px 0 50px;
  }

  .img_left-size:hover {
    z-index: 6;
  }

  .img_right-size:hover {
    z-index: 6;
  }

  .head_a-button_i i {
    display: none;
  }

  .head_a-button, .head_a-button_i {
    background-color: #0300b7;
    border-radius: 5px;
    color: #fff;
    width: 100%;
    margin: 0 0 20px 0;
    font-size: 20px;
  }

  .head_a-button :hover, .head_a-button_i:hover {
    background-color: #1d1ad2;
  }
}

@media (max-width: 992px) {
  .content {
    margin: 250px 20px 0 20px;
  }

  .img_block {
    margin: 100px;
  }

  .img_left-size {
    float: none;
    transform: rotate(-15deg);
  }

  .img_right-size {
    float: none;
    transform: rotate(15deg);
  }

  body {
    background-size: auto;
  }
}

@media (max-width: 1200px) {

}
